.tile {
    display: flex;
    border-radius: 15px;
    min-width: 128px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
    flex-direction: column;
    padding: 10px;
    background: #ffffff2b;
    color: #2c2c2ced;
    position: relative;
    height: 150px;
    gap: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 15px;
    color: gray;
}

.weather-icon {
    position: absolute;
    top: 45px;
    left: 0;
}

.celsius {
    color: #303030;
}

.farenheit {
    color: #6a6a6a;
}

.description-weather-icon {
    width: 200px;
}